ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ecefe8;
  }
  
  li {
    float: left;
  }
  li img{
    float: left;
    width:100px;
    height:50px;
  }
  
  li a {
    display: block;
    color: #da6e4b;
    text-align: center;
    padding: 20px 30px;
    font-size:20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ecefe8;
    color:#e685c3;
    font-size: 30px;
    padding: 10px 30px;
  }
  